@font-face {
    font-family: 'yekan';
    src: url("../fonts/Yekan.woff");
}

.button {
    border: none;
    outline: none;
}

.columns {
    margin: 0;
}

body {
    font-family: yekan !important;
    min-height: 100dvh;
    width: 100dvw;
}

.navbar {

    background-color: rgba(255, 255, 255, 0);

    padding: 1rem 0;
}


/*paddings and borders*/

.borderxwhite {
    border-right : 1px solid white;
    border-left : 1px solid white;
}
.paddingx {
    padding-right: 9rem;
    padding-left: 9rem;
}

.navboldtext {
    font-weight: 950;
    font-size: 2rem;
}


/*colors*/

.clrone {
    background-color: #5260FE;
    color: #fff;
}

.clrtwo {
    color: black;
}

.clrthree {
    background-color: black !important;
    color: white;
}

.clrfour {
    background-color:  rgba(254, 124, 82, 1);
    color: white;

}

.clrfourtext {
    color:  rgba(254, 124, 82, 1);

}

.clrfive {
    color: rgba(82, 96, 254, 1);

}

.clrsix {
    background-color: white;
    color: black;
}

.clrseven {
    background-color: #F7F8FDFF;
}

.clreighttext {
    color: #808080;

}
.clrnine {
    background: linear-gradient(90deg, #BEFBB6 0%, #BEFBB6 100%);

}


.bggrad1 {
    background: linear-gradient(258.02deg, rgba(255, 216, 204, 0.5) 21.85%, rgba(220, 255, 216, 0.5) 48.34%, rgba(213, 216, 252, 0.5) 82.44%);


}


/*radious*/
.borderrad1 {
    border-radius: 1.9rem;
}

.borderrad2 {
    border-radius: 50%;
}


/*shadows*/
.shadowone {
    box-shadow: 0.3rem 0.3rem 0 #000;
}



/*cards*/


.card {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.24);
    min-height: 16rem;
}


.aboutcard {
    min-height: 14rem;
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02);
  text-align: center;
    border-radius: 1rem;


}
.aboutcard img {
    transform: translateY(-3rem);


}